/* definimos un estilo generico para toda la web que sera sobreescrito cuando haga falta*/

* {

    font-family: sans-serif;

    /* El tamaño de la fuente lo marcomos con vw para que se ajuste en relacion a la ventan*/
    font-size: 2vw;
    text-align: center;

    /* Solo para que se vena las zonas blancas de la tabla*/
    background-color: rgb(212, 231, 247);


}

h1 {
    /* Tamaño para todos los titulos principales que pudiera tener la web*/
    font-size: 2vw;
}

h3 {
    /* Tamaño para los subtitulo y titulos menores de la web*/
    font-size: 1vw;

}

/**************Estilos de la tabla********************************/

.tabla,
.lista {
    /* Ancho y centrado para ambos divs*/
    width: 60vw;
    margin: auto;

}

.tabla {
    /* Alto solo para el div de la tabla necesario 
    para que la tabla tenga la proporcion deseada*/
    height: 90vw;
}

table {
    /* centramso la tabla y le decimos que ocupe todo su padre, el div tabla*/
    margin: auto;
    height: 100%;
    width: 100%;
    border-width: 2%;

}

th {
    /* Definimos las propiedades de la cabecera*/
    font-size: 1vw;
    background-color: white;/*color blanco*/

}

.horario {
    /* Definimos el estilo del horario*/
    background-color: white;
    font-size: 1.2vw;

    /* Ya que las celdas empiezan en la hora que les marca el horario, 
    se alinea en top para que marque el principio de la celda*/
    vertical-align: top;


}

/**************Estilos de las celdas interiores********************************/

tr {
    /* Con esto conseguimos que la altura de las celdas
     sean la apropiada para la proporcion de la tabla*/
    height: 2.5%;
    
}


td {
    /* Para que los textos quepan en las celdas*/
    font-size: 60%;

    /* Color de las celdas sin tutotia*/
    background-color: rgb(129, 186, 196);

}

td div {
    /* definimos las propiedades de cada celda*/
    font-size: 100%;
    max-height: 80%;
    max-width: 80%;
    margin: 0;

}

.recreo {
    /* Hacemos mas pequeñas las celdas de los recreos por que dura menos que un clase*/
    height: 0.60%;

}

.recreo td {
    /* Color de fondo para las celdas de los recreos*/
    background-color: white;

}

/************************Cada una de los diferentes modulos****************************-*/

.dwes {

    background-color: orange;
}

.diw {

    background-color: bisque;

}

.ip {

    background-color: blueviolet;

}

.dael {

    background-color: aqua;

}

.dwec {

    background-color: green;

}

.ingles {

    background-color: rgb(172, 124, 218);

}

.sa {

    background-color: rgb(179, 118, 84);

}

.pi {

    background-color: rgb(127, 197, 255);

}

.da {

    background-color: rgb(194, 54, 54);
}

.tc {
    /* Transparencia para las tutorias colectivas*/
    opacity: 0.75;
}

/**************************** Termina la tabla, empezamos con la lista ******************************/

ul {
    /* quitamos la decoracion de la lista */
    list-style: none;

}

li{
    /* alineación al 25% del viewport */
    margin-left: 25vw;
}

li::before {
    /* estilos para añadir el icono de email */

    /* iocono de email */
    content: '\f0e0';
    
    /* Le indicamos de que fuente */
    font-family: "Font Awesome 6 free";

    /* Para que sea mas resaltado */
    font-weight: 900;
    
    margin-right: 0.5em;
    margin-right: 10px;
    font-size: 1em;

}

li,
a {
    /* tamaño para el contenido de las listas */
    font-size: 1vw;
    text-align: left;

}